@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
* {
	font-family: monospace;
	font-size: 22px;
}
h1 {
	font-size: 35px;
	font-weight: bold;
	padding: 10px;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input,
button {
	border: solid;
	padding: 14px;
	border-radius: 15px;
	background-image: linear-gradient(to top, rgb(255, 120, 200), white);
}
input {
	outline: none;
}
button:hover {
	animation: grow 1s forwards;
}

@keyframes grow {
	0% {
		padding: 14px;
	}
	50% {
		padding: 20px;
	}
	100% {
		padding: 14px;
	}
}
